@import "./reset.css";

@media screen and (max-width: 500px) {
  .if-pc {
    display: none;
  }

  .if-sp {
    display: block;
    width: 90%;
    height: 100%;
    font-size: 17px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 501px) {
  .if-pc {
    display: block;
    width: 100%;
    height: 100%;
  }

  .if-sp {
    display: none;
  }
}

.reset-btn-style {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}
.base-input-text {
  font-size: 17px;
}

.main-title {
  text-align: center;
}
.input-todo-area {
  height: 40px;
  display: flex;
  justify-content: space-between;

  .input-todo {
    @extend .base-input-text;
    width: 75%;
    height: 34px;
    display: inline-block;
  }

  .input-btn {
    @extend .reset-btn-style;
    width: 20%;
    height: 40px;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #76ff03;
    color: #fff;
    font-weight: bold;
    border-radius: 3px;
    border-bottom: solid 2px #3e962f;
    border-right: solid 2px #3e962f;
    &:active {
      /*ボタンを押したとき*/
      border: none;
      -webkit-transform: translate(3px, 3px);
      transform: translate(3px, 3px);
    }
  }
}

.stock-todo-area {
  border: solid 1px #000;
  margin-top: 10px;

  .todo-list_contents {
    border-bottom: solid 1px #ddd;
    padding: 10px;
    display: flex;
    .todo-list_text {
      width: 70%;
      word-break: break-all;
      .label {
        width: 100%;
        display: block;
        .checkbox:checked + .todo-list_item {
          text-decoration: line-through;
        }
      }
      .input-todo-edit {
        @extend .base-input-text;
        width: 90%;
        height: 40px;
      }
    }
    .todo-list_btn {
      width: 30%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .btn-left {
        width: 45%;
        .btn {
          @extend .reset-btn-style;
          width: 100%;
          height: 30px;
          border: solid 2px #999;
          border-radius: 5px;
          color: #999;
        }
      }
      .btn-right {
        width: 45%;
        .btn {
          @extend .reset-btn-style;
          width: 100%;
          height: 30px;
          border: solid 2px #999;
          color: #76ff03;
          border-radius: 5px;
        }
      }
    }
  }
}

.modal {
  border: solid 1px #000;
  position: absolute;
  width: 80%;
  left: 10%;
  height: 230px;
  top: 50%;
  background-color: #fff;
  transform: translateY(-50%);
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);
  .modal-content {
    width: 90%;
    margin: 0 auto;
    .img-sauce {
      display: block;
      width: 90px;
      margin: 0 auto;
    }
  }
  .to-github {
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    border: solid 1px #000;
    .to-github-link {
      display: block;
    }
  }
  .modal-close {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    border: solid 1px #000;
  }
}
