<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>TODOリスト</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <main>
      <section class="if-sp">
        <h1>TODOリスト</h1>
        <div id="app">
          <div class="input-todo-area">
            <input
              type="text"
              v-model="inputAdd"
              placeholder="edit me"
              class="input-todo"
            />
            <button @click="addItem" class="input-btn">追加</button>
          </div>
          <div class="stock-todo-area">
            <div class="todo-list">
              <div
                v-for="(todo, index) in todos"
                :key="todo"
                class="todo-list_contents"
              >
                <label>
                  <input
                    type="checkbox"
                    @click="saveCheckState(index);"
                    v-model="todo.isCheck"
                    class="todo-list_checkbox"
                    hidden
                  />
                  <span class="todo-list_item">{{todo.item}}</span>
                </label>
                <button @click="deleteItem(index);">削除</button>
              </div>
            </div>
          </div>

          <div v-if="isShowModal" class="modal">
            <a
              href="https://github.com/sasa0330/todoListMadeWithVue"
              target="_brank"
              >そーすこーど</a
            >
            <p @click="isShowModal = !isShowModal">close</p>
          </div>
        </div>
      </section>
      <section class="if-pc">
        <h1>スマホサイズで見てね！</h1>
      </section>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="./js/main.js"></script>
  </body>
</html>
